.container-reset-form {
  width: 50%;
  height: 50vh; /* Establece la altura del contenedor en el 50% de la altura de la ventana */
  position: absolute; /* Cambia a posición absoluta */
  top: 55%; /* Alinea el borde superior del contenedor al 50% de la ventana */
  left: 50%; /* Alinea el borde izquierdo del contenedor al 50% de la ventana */
  transform: translate(-50%, -50%); /* Centra vertical y horizontalmente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px 20px 10px;
  gap: 10px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid var(--border-color-form);
  background-color: var(--background-color-form);
}

.container-reset-form .reset-form-group {
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-reset-form .reset-form-label {
  font-family: var(--font-family);
  font-size: 13px;
  margin-bottom: 10px;
}

.container-reset-form .reset-form-input {
  height: 20px;
  width: 100%;
  font-family: var(--font-family);
  margin: auto;
  font-size: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 3px solid gainsboro;
}

@media screen and (min-width: 768px) {
  .container-reset-form {
    width: 40%;
  }
  .container-reset-form .reset-form-input {
    height: 25px;
    font-size: 13px;
  }

  .container-reset-form .reset-form-label {
    font-size: 13px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .container-reset-form {
    width: 30%;
  }
  .container-reset-form .reset-form-input {
    height: 30px;
    font-size: 14px;
  }

  .container-reset-form .reset-form-label {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
