.container-ad {
  display: grid;
  grid-template-columns: repeat(2, 2fr);

  align-items: center;
  align-content: center;
  text-align: center;

  padding-top: 10px;
  padding-bottom: 40px;
  margin-bottom: 12px;
}

li {
  width: 50%;
}

h1 {
  text-align: center;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.pagination {
  text-align: center;
  color: var(--text-color);
}

.containerTittle h1 {
  text-transform: lowercase;
  font-family: var(--font-family);
  font-size: 3em;
}

.advert-container {
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 16px;
  margin: 5px;
  text-align: center;
}

.advert-container img {
  display: block;
  object-fit: cover;
  width: 610px;
  height: 400px;
}

.advert-container h2 {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.5rem;
}

.disabled {
  cursor: default;
  pointer-events: none;
  color: rgba(var(--text-color), 0.25);
}

.searchSection h1 {
  color: var(--text-color);
}
.searchSection {
  border: 2px solid var(--text-color);
  border-radius: 8px;
  margin: 1.3rem;
}
@media (max-width: 600px) {
  .advert-container {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .container-ad {
    grid-template-columns: repeat(1, 1fr);
  }
}
