footer {
    background-color: var(--secondary-color);
    min-height: 10vh;
}

.footer {
    display: flex;
    justify-content: center;
}

.footer>p {
    color: var(--text-nav-footer);
}

@media screen and (max-width: 600px) {
    .footer>p {
        font-size: var(--font-size-mobile-reduced)
    }
}