a:link, a:visited, a:active {
    text-decoration:none;
}
.advert {
    border: 2px solid yellow;
    border-radius: 8px;
    padding: 16px;
    margin: 16px;
  }
  
  @media (max-width: 600px) {
    .advert {
      font-size: 14px;
    }
  }
  