.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-number {
  margin: 0 5px;
  cursor: pointer;
}

.pagination-number.active {
  font-weight: bold;
  text-decoration: underline;
}

@media (max-width: 600px) {
  .pagination {
    font-size: var(--font-size-mobile)
  }

}