.validation-message-label {
    color: red;
    font-weight: bold;
}

.element-form {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 10px 10px;
    gap: 10px;
}

.element-form>label {
    color: var(--text-color-label);
    font-family: var(--font-family);
    font-weight: bold;
    font-size: 1.5rem;
}

.element-form>input {
    width: 100%;
}