.container-ad {
  display: grid;
  /* grid-template-columns: repeat(2, 1fr); */
  grid-template-columns: repeat(auto-fill, 450px);

  column-gap: 20px;
  row-gap: 20px;
  justify-content: center;
  /* align-items: center;
  align-content: center;
  text-align: center; */

  padding-top: 10px;
  padding-bottom: 40px;
  margin-bottom: 12px;
}

li {
  width: 50%;
}

h1 {
  text-align: center;
}

a:link,
a:visited,
a:active {
  text-decoration: none;
  color: rgb(0, 0, 0);
  cursor: pointer;
}

.pagination {
  text-align: center;
  color: var(--text-color);
}

.containerTittle h1 {
  text-transform: lowercase;
  font-family: var(--font-family);
  font-size: 3em;
  margin: 20px 0 10px 0;
}

.advert-container {
  border: 2px solid var(--border-color);
  border-radius: 8px;
  padding: 16px;
  margin: 5px;
  text-align: center;
  background-color: #dcdcdc7a;
}

.advert-container .img {
  display: block;
  object-fit: cover;
  width: 400x;
  height: 200px;
}

.advert-container h2 {
  font-weight: bold;
  text-decoration: underline;
  font-size: 1.5rem;
}

.disabled {
  cursor: default;
  pointer-events: none;
  color: rgba(var(--text-color), 0.25);
}

.searchSection h1 {
  color: var(--text-color);
}

.searchSection {
  border: 0px solid var(--text-color);
  border-radius: 8px;
  margin: 1.3rem;

}

.advert_label {
  /* font-weight: bold;
  font-style: oblique;
  text-transform: uppercase; */
  font-size: 1rem;
}

input.filter {
  color: blue;
  width: 100%;
  padding: 10px 30px;
  background-image: url('../../../../public/searchicon.png');
  background-position: 10px 10px;
  background-repeat: no-repeat;
}




@media (max-width: 600px) {
  .advert-container {
    font-size: 14px;
  }
}

@media screen and (max-width: 768px) {
  .container-ad {
    grid-template-columns: repeat(1, 1fr);
  }
}