.container-form {
  width: 50%;
  height: 50vh; /* Establece la altura del contenedor en el 50% de la altura de la ventana */
  position: absolute; /* Cambia a posición absoluta */
  top: 55%; /* Alinea el borde superior del contenedor al 50% de la ventana */
  left: 50%; /* Alinea el borde izquierdo del contenedor al 50% de la ventana */
  transform: translate(-50%, -50%); /* Centra vertical y horizontalmente */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 10px 20px 10px;
  gap: 10px;
  border-radius: 10px;
  text-align: center;
  border: 2px solid var(--border-color);
  background-color: var(--background-color-form);
}

.container-form .form-group {
  width: 100%;
  padding: 0 15px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.container-form .password-label {
  font-family: var(--font-family);
  font-size: 13px;
  margin-bottom: 10px;
}

.container-form .password-input {
  height: 20px;
  width: 100%;
  font-family: var(--font-family);
  margin: auto;
  font-size: 12px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 3px solid gainsboro;
}
.container-form .email-input {
  height: 20px;
  width: 100%;
  margin: auto;
  font-size: 13px;
  margin-bottom: 10px;
  border-radius: 6px;
  border: 3px solid gainsboro;
}

.container-form .link-reset {
  display: flex;
  justify-content: center;
  font-family: var(--font-family);
  font-size: 14px;
  color: rgba(0, 0, 255, 0.897);
  text-decoration: none;
  margin-bottom: 10px;
}

.container-form .password-input-rememberme {
  display: flex;
  font-family: var(--font-family);
  align-items: center;
  align-content: space-between;
  font-size: 14px;
}

@media screen and (min-width: 768px) {
  .container-form {
    width: 40%;
  }
  .container-form .password-input {
    height: 25px;
    font-size: 12px;
  }
  .container-form .password-input-rememberme {
    font-size: 14px;
  }
  /* .container-form .login-button {
    border-radius: 5px;
    padding: 7px 7px;
    font-size: 15px;
  } */
  .container-form .link-reset {
    font-size: 13px;
  }
  .container-form .password-label {
    font-size: 14px;
    margin-bottom: 10px;
  }
}

@media screen and (min-width: 1024px) {
  .container-form {
    width: 30%;
  }
  .container-form .password-input {
    height: 30px;
    font-size: 14px;
  }
  .container-form .link {
    font-size: 14px;
  }

  .container-form .password-input-rememberme {
    font-size: 14px;
  }
  /* .container-form .login-button {
    border-radius: 5px;
    padding: 8px 8px;
    font-size: 15px;
  } */
  .container-form .password-label {
    font-size: 16px;
    margin-bottom: 10px;
  }
}
