.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal {
  position: relative;
  font-family: var(--font-family);
  background-color: rgba(0, 0, 0);
  max-width: 50%;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  color: var(--border-color);
  text-transform: lowercase;
  z-index: 2;
}

.modal-header {
  font-weight: bold;
  font-size: 0.4em;
  margin-bottom: 20px;
  color: var(--border-color);
  text-transform: lowercase;
  z-index: 3;
}

.modal-body {
  font-weight: bold;
  font-size: 0.6em;
  margin-bottom: 20px;
  color: var(border-color-form);
  text-transform: lowercase;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  z-index: 3;
}

.modal-button:disabled,
button:disabled:hover {
  background-color: #999;
  opacity: 0.5;
  cursor: default;
}

.modal-errorButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.oncancel {
  display: block;
  background-color: var(--background-reject-button-color);
  border-radius: 5px;
  font-size: 13px;
  color: white;
  border: 0;
  padding: 6px 6px;
  margin-bottom: 10px;
  z-index: 3;
}

.onconfirm {
  display: block;
  background-color: var(--background-accept-button-color);
  border-radius: 5px;
  font-size: 13px;
  color: white;
  border: 0;
  padding: 6px 6px;
  margin-bottom: 10px;
  z-index: 3;
}

/* STARS */
.star {
  position: absolute;
  width: 2px;
  height: 2px;
  background-color: #fff;
  border-radius: 50%;
  animation: blink 5s infinite alternate;
  z-index: -1;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  49.5% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  50.5% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
