.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal {
  font-family: var(--font-family);
  background-color: var(--border-color);
  width: 400px;
  padding: 20px;
  border-radius: 15px;
  text-align: center;
  color: black;
  text-transform: lowercase;
}

.modal-header {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 20px;
  color: black;
  text-transform: lowercase;
}

.modal-buttons {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.modal-buttons > .oncancel + .onconfirm {
  margin-left: auto;
}

.modal-button:disabled,
button:disabled:hover {
  background-color: #999;
  opacity: 0.5;
  cursor: default;
}

.modal-errorButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.oncancel {
  display: block;
  background-color: var(--background-reject-button-color);
  border-radius: 5px;
  font-size: 13px;
  color: white;
  border: 0;
  padding: 6px 6px;
  margin-bottom: 10px;
}

.onconfirm {
  display: block;
  background-color: var(--background-accept-button-color);
  border-radius: 5px;
  font-size: 13px;
  color: white;
  border: 0;
  padding: 6px 6px;
  margin-bottom: 10px;
}
