.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: #fff;
  width: 400px;
  padding: 20px;
  border-radius: 5px;
  text-align: center;
}

.modal-header {
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.modal-errorButton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.oncancel {
  display: block;
  background-color: var(--background-reject-button-color);
  border-radius: 5px;
  font-size: 13px;
  color: white;
  border: 0;
  padding: 6px 6px;
  margin-bottom: 10px;
}

.onconfirm {
  display: block;
  background-color: var(--background-accept-button-color);
  border-radius: 5px;
  font-size: 13px;
  color: white;
  border: 0;
  padding: 6px 6px;
  margin-bottom: 10px;
}
