.app {
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  color: inherit;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  background-image: var(--background-image);
  /* TODO quitado para el diseño */
  background-image: none;

  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}

/*Refactor estilso text color*/
a>p {
  color: var(--text-nav-footer);
}

p {
  color: var(--tertiary-color);
}

h1 {
  color: var(--tertiary-color) !important;
}