.favorite-button {
  width: 28px;
  height: 28px;
  border: none;
  cursor: pointer;
  margin: 0%;
  position: absolute;
  top: 0;
  right: 0;
}

.not-favorite-button {
  background-color: transparent;
  border: none;
  margin: 0%;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  text-decoration: none;
}

svg {
  fill: var(--background-iconFa-favorite-border-color);
}
